<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="h4 text-center">About</h1>


      <h2 class="text-center display-3 col-lg-10 offset-lg-1  hero pb-5 pt-3">ecosyste.ms Funds sets out to solve the issues of today&rsquo;s open source funding services</h2>
      <div class="row">
        <div class="col-lg-6 col-xl-5 order-lg-2">
          <%= image_tag("iceberg-dependencies.svg", alt: "Deep dependencies are hidden below the waterline", class: "img-fluid", size: "802x600") %>
        </div>
        <div class="col-lg-6 col-xl-5 offset-xl-1 align-self-center order-lg-1">

          <h3 class="mb-4">Deep dependencies are not receiving financial support</h3>

          <p>The vast majority of funding today goes to projects that developers make an active decision to include in their work. Meanwhile thousands of open source communities that form the foundation on which much of the world&rsquo;s software runs receive nothing. </p>
        </div>
        
      </div>
      <div class="row">
        <div class="col-lg-6">
          <%= image_tag("competitive-funding.svg", alt: "Competitive funding creates more losers than winners", class: "img-fluid", size: "802x600") %>
        </div>
        <div class="col-lg-6 col-xl-5 align-self-center">
          <h3 class="mb-4">Most funding solutions behave like competitive marketplaces</h3>

          <p>Projects compete for resources (money, attention, contribution) and the projects with the exposure, notable leaders or success are the winners. While this is great for funding future focused projects, it doesn&rsquo;t solve the problem of funding the unseen infrastructure that lies below the waterline. To do this we must to adjust our perspective:</p>
        </div>
         
      </div>
    </div>
  </div>
</div>
<div class="ecosystems-pattern my-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-center display-3 my-5 py-5">We need to fund projects based on what we use rather than what we see</p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
<h2 class="text-center pt-5">ecosyste.ms Funds is a collaboration</h2>
  <div class="row">
    <div class="col-lg-6 col-xl-4 offset-xl-1">
          <a href="https://ecosyste.ms"><%= image_tag("ecosystems-logo.svg", alt: "ecosyste.ms", class: "img-fluid mt-5 mb-3", size: "320x68") %></a>
          <h3 class="h4">Open Source Intelligence for developers, researchers &amp; policymakers.</h3>

          <p>ecosyste.ms was developed in 2022 with financial support from Schmidt Futures and Open Source Collective. ecosyste.ms is a set of free services and tools for developers, researchers and policymakers to help identify, secure and sustain open source software.</p>
    </div>
    <div class="col-lg-6 col-xl-4 offset-xl-2"">
          <a href="https://oscollective.org"><%= image_tag("osc-logo-transparent.png", alt: "Open Source Collective", class: "img-fluid mt-5 mb-3", size: "300x60") %></a>  
          <h3 class="h4">Working for the common interests of those who create and use open source software.</h3>

          <p>Open Source Collective is one of the largest fiscal sponsor organizations in the world, acting as the legal and financial home to thousands of open source project communities. We accept millions on behalf of our member projects, who use their money to maintain and develop open source software. </p>
    </div>
  </div>
</div>