<div class="container">
  <div class="row">
    <div class="col-lg-8 page-content">
      <h1 class="page-content__title display-2">Ecosystem Funds FAQ</h1>

    <p class="lead">Ecosystem funds is new, we&rsquo;ll expand this FAQ as we develop the service, until then here are a few questions we anticipate</p>

    <h2>What is ecosyste.ms?</h2>
    <p>ecosyste.ms is a set of free services and tools for developers, researchers and policymakers to help identify, secure and sustain open source software. It was developed throughout 2022 by Andrew Nesbitt and Benjamin Nickols, with support from the now disbanded Plaintext Group at Schmidt Futures and Open Source Collective.</p>

    <h2>Who are Open Source Collective?</h2>
    <p><a href="https://oscollective.org">Open Source Collective</a> is a non-profit working for the common interests of those who create and use open source software. They are best known for their fiscal sponsorship program, accepting and managing the funds for thousands of financially active open source projects and their communities using the <a href="https://opencollective.com/home">Open Collective</a> platform. Open Source Collective continues to provide financial support to develop and maintain ecosyste.ms.</p>

    <h2>I&rsquo;m a maintainer, how do I get paid?</h2>
    <p>If you haven&rsquo;t already, add a <a href="https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/displaying-a-sponsor-button-in-your-repository"><code>funding.yml</code></a> file to your repository/ies. We track 10.7m packages and their corresponding repositories, directing payments according to the instructions provided in a <code>funding.yml</code> file. If we cannot find or read a file, we use publicly available information to contact the maintainer(s), asking them to accept funds on behalf of their community, or to direct a payment by adding a funding.yml file to their repos.</p>

    <h2>Do I have to pay tax on donations accepted from Ecosystems?</h2>
    <p>If you have received a donation as a maintainer through ecosyste.ms it is likely that you will have to pay tax on that as income. However, if you have established a relationship with a fiscal sponsor, and you use donations to cover costs that you have paid (for instance, hosting, domain names, event attendance etc) you may be able to reimburse yourself without incurring a tax liability. We recommend you seek advice from a local tax professional if you are unsure of the law in your territory.</p>

    <h2>What&rsquo;s an Ecosystem?</h2>
    <p>We&rsquo;ve packaged open source projects together according to a particular technology like MariaDB, Cucumber, or Vagrant. Each of these packaged &lsquo;Funds&rsquo; includes the core technology plus any dependent projects (bindings, utilities etc) and dependencies. The idea being that you direct us toward the key technologies you depend upon, and we direct funds to the most critical projects within that domain on your behalf.</p>

    <h2>How do I donate to or sponsor an ecosystem?</h2>
    <p>We&rsquo;re still in public beta, so please excuse us if we&rsquo;ve yet to iron everything out but: every Ecosystem Fund has a corresponding page on Open Collective. You can donate or sponsor a Fund using Open Collective who accept a myriad of payment options. Open Source Collective, who administrate the program, are registered vendors to most large corporate sponsors. If you would like us to register with your procurement team contact <a href="mailto:hello@oscollective.org">hello@oscollective.org</a>.</p>

    <h2>What&rsquo;s the cost of donating to an Ecosystem?</h2>
    <p>Open Source Collective (who accept and manage your sponsorship) take a 10% management fee to distribute the funds and handle all the appropriate legal and accounting responsibilities. Open Source Collective is a registered non-profit based in CA, USA.</p>

    <h2>Are donations tax deductible?</h2>
    <p>Donations to Ecosystem Funds are managed by Open Source Collective and are not tax deductible.</p>

    <h2>How are funds allocated to projects?</h2>
    <p>Our approach is to fund the most critical projects in a software ecosystem, and we believe that actual usage is the best measure of how critical an open source component is.</p>
    
    <p>ecosyste.ms monitors hundreds of millions of individual software repositories, tracking the relationships between those repositories and the software they build upon. We track billions of dependency relationships to establish which packages are the most used in open source. To this we add download data to account for proprietary use that we cannot track. We then normalize data across an ecosystem to take into account differences between ecosystems before allocating funds.</p>

    <h2>How are funds distributed?</h2>
    <p>We distribute funds once a month for every ecosystem that holds a balance. To maintain efficient use of funds we allocate a minimum of $50 per project. Unclaimed funds are redistributed the following month. We direct payments to projects through the platforms and channels they have indicated in their <code>funding.yml</code> files, where a project has not included any funding links we invite them to select a platform or accept funds directly. </p>

    </div>
  </div>
</div>