<div class="container">
  <div class="row">
    <div class="col-lg-8 page-content">
      <h1 class="page-content__title display-2">How it works</h1>

    <p>Ecosystem Funds is a data-driven method to collaboratively fund the software we all depend upon. By funding the most-used software in a specific language, framework, or technology, we expand a little knowledge like &lsquo;I use Postgres&rsquo; into an empirically sound method for supporting the entire Postgres ecosystem.</p>

    <h2>We gather data</h2>
    <p>ecosyste.ms indexes millions of open source packages and billions of dependency connections to create the world's most comprehensive and accurate pictures of open source interdependency. We understand open source software production and usage like no one else.</p>

    <h2>We package like projects into &lsquo;funds&rsquo;</h2>
    <p>Based on our understanding, we package projects into funds based on a common technology, theme, or purpose like Postgres, CodeIgniter, or Ionic. We also host language and framework-based funds like Ruby, Rust, or Rails. Each of these funds includes a core technology and the projects upon which they depend. We call these &lsquo;ecosystems&rsquo;</p>

    <h2>You sponsor a fund</h2>
    <p>Select the core technologies you use, sponsor once or on an ongoing basis, and pay using the myriad of payment options available through Open Collective, or contact us to engage with your procurement team.</p>

    <h2>We allocate funds to projects</h2>
    <p>We believe that usage is the best indicator of value or &lsquo;criticality&rsquo;, so we allocate funds based on a combination of observed usage amongst 240m tracked repositories and downloads for 10.7m tracked packages. Each allocation is published on a monthly basis for each Fund.</p>

    <h2>We distribute funds to maintainers</h2>
    <p>Funds are sent where projects have indicated they would like to receive them in their funding.yaml files. We work with other funding platforms to get money to maintainers where they want it. For those projects that have not yet indicated, we invite them to do so or to accept funding directly.</p>

    <h2>You benefit</h2>
    <p>We want to shift the conversation away from indirect benefits like marketing, hiring, and employee retention, toward the direct benefits: software that you depend upon supported by a community that is better able to meet the pressures placed upon it.</p><p>We provide an overview for each ecosystem of the micro and macro trends: more maintainers, more contributors, better support, fewer open issues, quicker pull request reviews&mdash;a thriving foundation for our own products and services.</p>
    </div>
  </div>
</div>