<h1>Accept or reject the invitation!</h1>

<p>Accept confirmation button</p>

<p>or they can update their funding.yml and we'll check it again</p>

<p>also an option to reject</p>

<p>if it's been accepted/rejected already then show a message</p>