<div class="container">
  <div class="row">
    <div class="col-lg-8 page-content">
      <h1 class="page-content__title display-2">Accept or reject the invitation!</h1>

      <% if Rails.env.development? && params[:expired] || Rails.env.production? && @invitation.expired? %>

        <p>This invitation has expired</p>

      <% else %>

        <% if @invitation.accepted? %>
          <p>This invitation has already been accepted</p>
        <% end %>

        <% if @invitation.rejected? %>
          <p>This invitation has already been rejected</p>
        <% end %>

        <%= button_to 'Accept Invitation', accept_invitation_path(token: @invitation.token) %>

        <p>or they can update their funding.yml and we'll check it again</p>

        <%= button_to 'Reject Invitation', reject_invitation_path(token: @invitation.token) %>

      <% end %>
    </div>
  </div>
</div>