<tr class="">
	<td>1</td>
	<td>

      <img src="<%= project.avatar_url %>" height='36' width='36' onerror="this.style.display='none'" class="me-3" >

    <%= link_to project, project.url %> 
  </td>

	<td>
    $1,232,232
	</td>
	<td>
	  938M
	</td>
  <td>
    181k 
  </td>
  <td>
    236k
	</td>
</tr>

