<div class="grey-grad-bg error-bg">
  <div class="container">
  <div class="error error--has-background error--400">
    <div class="error__content">
      <h1 class="error__code">400</h1>
      <p class="error__description">Sorry, your request could not be processed. Please check the request and try again.</p>
    </div>
  </div>
</div>