<div class="purple-bg-grad error-bg">
  <div class="container">
  <div class="error error--has-background error--409">
    <div class="error__content">
      <h1 class="error__code">409</h1>
      <p class="error__description">The request could not be completed due to a conflict with the current state of the target resource. Please resolve the conflict and try again.</pz>
    </div>
  </div>
</div>