<div class="grey-grad-bg error-bg">
  <div class="container">
  <div class="error error--has-background error--429">
    <div class="error__content">
      <h1 class="error__code">429</h1>
      <p class="error__description">You have sent too many requests in a given amount of time. Please try again later.</p>
    </div>
  </div>
</div>