/* Variables */

/* Colors */
$color-purple: #7878EF;
$color-purple-light: #BBBBFF;
$color-purple-dark: #5C5CCF;

$color-orange: #FF807D;
$color-orange-light: #FEBDB9;
$color-orange-dark: #C65568;

$color-green: #45E56E;
$color-green-light: #75D293;
$color-green-dark: #2EAF6B;

$color-black: #1D1D28;
$color-white: #FFFFFF;
$color-grey: #D9D9D9;

/* Typography */
$font-family-base: "Inter", sans-serif;
$font-size-base: 1.125rem; //18px
$font-size-small: 0.88889rem; //16px

$line-height-base: 1.3334;
$headings-line-height: 1.1;

$h1-font-size: 2.9375rem; //47px
$h2-font-size: 2.1875rem; //35px
$h3-font-size: 1.625rem; //26px
$h4-font-size: 1.25rem; //20px

$body-font-weight: 400;
$headings-font-weight: 700;
$display-font-weight: 900;
$lead-font-weight: 400;


@import "bootstrap"; 

.container {
  @include media-breakpoint-down(md) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.text-decoration-hover{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

body {
  font-optical-sizing: auto;
}

.site-logo {
  font-size: 0;
  line-height: 0;
  color: transparent;

  background-image: asset-url('eco-systems-funds-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;

  width: 350px;
  height: 50px; 
}

.site-logo--white {
  background-image: asset-url('eco-systems-funds-logo-white.svg');
}


.dark-section {
  background-color: $color-purple-dark;
  color: $color-white;
  a {
    color: $color-white;
    &:hover,
    &:active,
    &:focus 
    &:visited {
      color: $color-white;
    }
    
  }
}
.extra-bold {
  font-weight: 900;
}

/*  Header */
.header {
  padding: 2em 0;
}

/*  Footer */
.footer {
  padding: 2em 0;
  margin-top: 4em;
}

.footer-links {
  margin-top: 1rem;
  @include media-breakpoint-up(md) {
    text-align: right;
  }
  a {
    text-decoration: none;
  }
  li {
    margin-bottom: 0.25rem;
  }
}

.footer-icons {
  margin-top: 1em;
  a {
    margin: 0 0.5em;
    text-decoration: none;
  }
}
.lead {
  @include font-size(1.625rem);
}

/* Hero */
.hero {
  .lead {
    max-width: 34rem;
    margin: 0 auto;
  }
}

/* Callout box used for link to announcement */
.callout {
  border: 0;
  border-radius: 1.5rem;
  line-height: 1em;
  height: 7.5rem;
  padding: 0.25em 1.5em 0;
 
  display: flex;
  align-items: center; 
  justify-content: center; 
  box-shadow: 0px 7px 24px rgba(187, 187, 255, 1);
}

.spesh-link {
  color: $color-black;
  text-decoration: none !important;
  position: relative;
  z-index: 1;
  display: inline-block;
  &::after {
    content: '';                         
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background-color: $color-green;
    z-index: -1;
    border-radius: 4px;
  }
  &:hover {
    text-decoration: none !important;
    &::after {
      background-color: $color-orange;
    }
  }
}

.btn-primary {
    background-color: $color-green-dark;
    border-color: $color-green-dark;
    padding: 0.5em 1em;
    font-weight: 600;
  &:hover,
  &:focus {
    background-color: darken($color-green-dark, 10%);
    border-color: darken($color-green-dark, 10%);
  }
  &:active {
    background-color: $color-orange-dark !important;
    border-color: $color-orange !important;
  }

}

.fund-card {
  border: 0;
  img {
    border-radius: 0;
  }
  &:hover {
    box-shadow: 0px 7px 24px rgba(187, 187, 255, 1);
  }
}

.label {
  display: block;
  @include font-size(0.875rem);
}

.fund-card--small {
  padding-bottom: 1.5rem;
  .card-body {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .card-title {
    @include font-size(1rem);
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    color: $color-black;
  }
  .card-img-top {
    max-width: 100px;
    max-height: 100px;
    margin: 1.5rem auto;
  }
}

.purple-bg-grad {
  background: linear-gradient(180deg, #FFFFFF 0%, #F5F5FF 100%);
}

/* all the nasty code for the homepage funds section */
.fund-promo-section {
  position: relative;
  margin-bottom: -100px;
  &::after {
    content: '';      
    display: block;
    width: 100%;
    height: 254px;
    background-image: linear-gradient(to bottom, #ffffff00 0%, #F5F5FF 70%);
    z-index: 2;
    position: absolute;
    bottom: 0;
  }
}

.flex-payments {
  margin-top: 4rem;
  margin-bottom: 4rem;
  @include media-breakpoint-up(md) {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

.block-link {
  /* class to make cards fully clickable */
  text-decoration: none;
}

.block-link--spesh {
  /* if we have a .spesh-link in here, we need to attach thhe hover styles */
  &:hover,
  &:active,
  &:focus {
    .spesh-link {
      &::after {
        background-color: $color-orange;
      }
    }
  }
}