<div class="card mb-3 fund d-flex" id="fund_<%= fund.id %>">
  <div class="card-body pb-1">
    <div class="d-flex">
      
      <div class="flex-grow-1 ms-3 text-break">
        <h5 class='card-title'>
          <%= link_to fund.name, fund_path(fund) %>
        </h5>
      
        <p class="card-subtitle mb-2 text-muted">
          <%= fund.description %>
        </p>
      </div>
      <div class="flex-shrink-0">
        <img src="<%= fund.logo_url %>" class="rounded" height='40' width='40' onerror="this.style.display='none'">
      </div>  
    </div>
  </div>
</div>