<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      <%= Rails.application.assets.find_asset('email.css').source if Rails.env.development? || Rails.env.test? %>
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
